MANIFEST.in
include README.md LICENSE CONTRIBUTING.md
recursive-include k8s_operator *.py
recursive-include k8s_operator *.yaml
recursive-include deploy *.yaml *.tpl
recursive-include examples *.yaml
recursive-exclude tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
